<nav>
  <ul class="navigation_bar">
    <li id="wikinimous"><a href="#">Wikinimous</a></li>
    <li id="new_article"><%= link_to "New article", new_article_path %></li>
  </ul>
</nav>

<ul class="article_list col-sm-8 col-sm-offset-2">
  <% @articles.each do |article| %>
  <h2><%= link_to article.title, article_path(article) %></h2>
  <p><%= article.content %></p>
  <% end %>
</ul>
